/* Google font */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
   transition: 0.5s;
   scroll-behavior: smooth;
}

::after,
::before {
    box-sizing: border-box;
}

/* 
colors


  red =====   #ed1c24 
  purpal  === #4D3668
*/


nav {
    height: 80px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.logo {
    height: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
    gap: 10px;

}

.logo img {
    height: 80%;

}

.logo h1 {
    line-height: 80px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-card {
    display: flex;
    gap: 20px;
    height: 100%;
    background: transparent;


}

.nav-card .card {
    display: flex;
    gap: 20px;
    align-items: center;

}

.nav-card .card h3 {
    font-size: 15px;
    color: black;
}

.nav-card .icon i {
    line-height: 80px;
    font-size: 27px;
    color: #ed1c24;
}

.nav-btn {
    display: none;
    padding: 8px 12px;
    border: none;
    color: white;
    background-color: #ed1c24;
    border-radius: 5px;
    outline: none;
    text-align: center;
}

.nav-btn i {
    font-size: 19px;
}


/* HRLO SRTATTTTTTTTTTTTTTTTTTTTTTTTT */

.hero-con {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    background: linear-gradient(rgba(0, 0, 0, 0.70) ,rgba(0, 0, 0, 0.70)), url(../assets/hero\ \ 3.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color:white;
    font-weight: 600;
    padding-top: 50px;
    position: relative;
}
.hero-con h1{
   font-size: 40px;
   padding-bottom: 20px;
}
.hero-con p{
    font-size: 20px;
    padding-bottom: 10px;
}
.hero-con .hero-card{
    padding: 25px 50px;
    border-radius: 12px;
    background: #bd141a;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    z-index: 22;
}
.hero-con .hero-card:hover{
    transform: scale(0.9);
}

.hero-con .hero-card i{
    font-size: 28px;
    
}

.hero-con button{
    padding: 10px 16px;
    background: white;
    border: none;
    outline: none;
    text-transform: uppercase;
    color: black;
    font-weight: 700;
    font-size: 15px;

    border-radius: 4px;
}
.hero-con button:hover{
    color: white;
    background: black;
    transform: translateY(-10px);
}
.adv1{
    position: absolute;
    height: 200px;
    bottom: 20px;
    left: 20px;
}
.adv2{
    position: absolute;
    height: 200px;
    bottom: 20px;
    right: 20px;
    z-index: 1;
}

/* HRLO endddddddddddddddddddddddddddd */
/* cover stattttttttttttttttttttt */

 .cover{
    height: 24vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg ,#ce2f34 ,#704a9b);
    color: white;
    font-weight: thin;
    font-size: 16px;
    padding: 0 12px;
    flex-wrap: wrap;
 }
 .cover h3{
    font-size: 18px;
    padding-bottom: 10px;
 }
 .cover p{
    color: rgb(231, 222, 222);
 }
 .cover-card{
    display: flex;
    gap: 12px;
    height: 100%;
    align-items: center;
    width: 22%;
   
 }
.cover-i img{
    height: 50px;
}



/* cover end */

/* abouttttttttttt start */

.about{
    width: 100%;
    max-height: auto;
    display: flex;
    padding: 90px 0;

}
.about-img{
    width: 50%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-contant{
    width: 50%;
    padding-top: 60px;
    padding-right: 150px;
}
.row{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 23px;
    
}
.ab-img-1{
    height: 150px;
    width: 200px;
    
    border-radius: 12px;
    overflow: hidden;
}
.ab-img-2{
    border-radius: 12px;
    height: 200px;
    width: 280px;
   
    overflow: hidden;
}
.ab-img-1 img{
    height: 100%;
    width: 100%;
}
.ab-img-2 img{
    height: 100%;
    width: 100%;
}
.about-card{
    background: linear-gradient(120deg,#d6181e,#8D0005);
    padding: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.about-card h3{
    color: rgb(233, 233, 233);
    padding-bottom: 15px;
    font-weight: 400;
}

.about-card h1{
    font-size: 30px;
}
.about-contant h3{
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    color: #bd141a;
}
.about-contant h1{
    font-size: 40px;
    padding: 20px 0;
    padding-top: 10px;
}
.about-contant p{
    font-size: 18px;
    line-height: 30px;
   
    text-align: justify;
}
.align-s{
    align-items: center;
}
/* abouttttttttttt enddddddddddddd */

/* usssssssss start   */


 .us{
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 130px;
    background: whitesmoke;

 }
.us-1{
    height: 100%;
    width: 50%;
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.us-1 h3{
   letter-spacing: 2px ;
   font-size: 18px;
   text-transform: uppercase;
   color: #bd141a;
    
}
.us-1 h1{
    font-size: 55px;
    padding-top: 20px;
}
.us-2{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: end;
    padding-bottom: 100px;
}
.us-2 p{
    line-height: 25px;
    font-size: 19px;
}
/* usssssssss enddddddddd   */


/* us card starttttttttttttttt */
.us-card-con{
    height: 70vh;
    width: 100%;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
}
.us-card{
        width: 350px;
        height: 350px;
        
        position: relative;
        display: flex;
        padding: 30px;
        align-items: end;
        justify-content: center;
        border-radius: 6px;
        overflow: none;
}
.us-card img{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
border-radius: 6px;
}
.us-card button{
    z-index: 2;
    padding: 12px 50px;
    border: none;
    outline: none;
    background: white;
    border-radius: 4px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
}
.us-card button:hover{
    transform: translateY(-10px);
    color: white;
    background: black;
}
/* us card endddddddddddd */

/* services startttttttttttttttttttt */

.services{
    height: auto;
    width: 100%;
    padding: 100px 0;
    background: rgb(255, 255, 255);
}
.services-contant{
    padding: 0 150px;
    padding-bottom: 40px;

}
.services-contant h3{
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 18px;
    color: #bd141a;
}
.services-contant h1{
    font-size: 50px;
   width: 45%;
   padding-top: 13px;
}
.services-card-con{
    width: 100%;
  
    padding: 20px 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 33px;
}
.services-card{
    height: 200px;
    width: 230px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px rgba(128, 128, 128, 0.404);
    flex-direction: column;
    gap: 23px;
}
.services-card:hover{
    transform: scale(1.1);
}
.services-card img{
    height: 90px;
}


/* services enddddddddddddddddddddd */



/* contactttttttttttttt start        */
.contact{
   
    width: 100%;
    padding: 30px 100px;
    display: flex;
    background: linear-gradient(120deg,rgba(95, 12, 14, 0.479),rgba(87, 7, 87, 0.548) ) , url(../assets/hero2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    flex-wrap: wrap;
}
.contact-con{
    height: 100%;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.contact-con h1{
font-size: 50px;
padding-bottom: 40px;
}
.contact-form{
    height: 100%;
    width: 45%;
}
.contact-con h4{
    font-size: 18px;
    font-weight: 600;
    padding: 20px 0 ;
    padding-bottom: 60px;
}
.contact-card-con{
    display: flex;
    gap: 23px;
    
}
.contact-card{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 23px;
    flex-direction: column;
    height: 170px;
    width: 270px;
    color: black;
}
.contact-card i{
    font-size: 25px;
    background: #ce2f346b;
    padding: 10px;
    border-radius: 50%;
}
.contact-card h3{
    padding: 10px 0;
}
.contact-card p{
  font-weight: 600;
  letter-spacing: 1px;
  color: #8D0005;
}
.contact-form{
    display: flex;
    justify-content: center;
    align-items: center;

}
.contact-form form{
    width: 90%;
    height: 85%;
    background: rgba(255, 255, 255, 0.356);
    border-radius: 23px;
    padding: 40px 20px;
    border: 1px solid white;
    display: flex;
    backdrop-filter: blur(30px);
    flex-direction: column;
    align-items: center;
}
.contact-form form input ,select{
    padding: 20px 20px;
    border-radius: 17px;
    border: none;
    font-size: 18px;
    outline: none;
    background: white;
    width: 100%;
    margin-bottom: 20px;
}
.form-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}
.form-row input{
    width: 40%;
}
.contact-form button{
    padding: 15px 60px ;
    border: none;
    outline: none;
    font-size: 20px;
    color: white;
    background: #bd141a;
    border-radius: 12px;
}
.contact-form button:hover{
    color: #8D0005;
    background: white;
}
.contact-form select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
}
.contact-form select::after{
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100px;
  background: red;
}
/* contactttttttttttttt enddddddddddddddd  */



/* peopleeeeeeeee  start */

.people{
    padding: 40px 0px;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.people-card{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 18px;
    color: white;
    width: 250px;
}
.people-card h1{
     font-size: 50px;
}
.people-card p{
     font-size: 18px;
}

.b-l{
    border-left: 2px solid white;
}
.b-r{
    border-right: 2px solid white;
}
/* peopleeeeeeeee  enddddd */



/* reviewww starttttttttttttttttttt */

.review{
    width: 100%;
    padding: 100px;
     background: white;
     display: flex;
     justify-content: center;
     align-items: center;
    }
    .review-con{
     height: 120vh;
      width: 100%;
      display: flex;
      border-radius: 23px;
      overflow: hidden;
}
.review-contant{
    height: 100%;
    width: 50%;
    background: linear-gradient(-90deg,#8D0005 ,#d4292f);
    padding: 50px 50px;
    border-bottom-left-radius: 23px;
    padding-top: 100px;
}
.review-contant h3{
    font-size: 18px;
    text-transform: capitalize;
    color: white;
    letter-spacing: 2px;
    padding-bottom: 20px;
    
}
.review-contant h1{
    font-size: 50px;
    color: white;
    line-height: 45px;
}
.review-card{
    width: 90%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 40px;
    align-items: center;
}
.review-slide{
    width: 100%;
    border-radius: 23px;
    background: white;
    padding: 50px 20px;
    font-size: 18px;
    line-height: 27px;
    position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
}
.review-slide p{
    font-style: italic;
    font-size: 16px;
    line-height: 24px;
}
.review-card h3{
    padding-top: 30px;
}
.review-slide i{
    position: absolute;
    left: 45%;
    bottom: -10px;
    color: rgb(255, 255, 255);
    font-size: 40px;
    transform: rotate(-45deg);
}
.review-img{
height: 100%;

  width: 50%;
   background: url(../assets/review.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}

/* reviewww endddddddddddd

/* footer starttttttttttttt */
footer{
    padding: 100px;
    padding-bottom: 20px;
    width: 100%;
    background: #1B1B1B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    flex-wrap: wrap;

}
footer .logo {
    height: 100px;
    background: transparent;
    display: flex;
    justify-content: start;
    gap: 10px;

}

footer  .logo img {
    height: 80%;

}

footer .logo h1 {
    line-height: 90px;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}
.footer-con-1{
    width: 30%;
   height: 100%;
}
.footer-con-2{ 
    height: 100%;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
}
.footer-con-3{
    height: 100%;
    width: 30%;
}
.footer-con-1 p{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.815);
    
}
.icons{
    padding: 30px 10px;
}
.footer-con-1 i{
    font-size: 20px;
    background: rgba(255, 255, 255, 0.26);
    padding: 8px;
    border-radius: 50%;
}
.footer-con-1 i:hover{
    background: white;
    color: black;
}





.footer-con-2 h1{
    width: 100%;
    font-size: 35px;
    letter-spacing: 2px;
    font-weight: 500;
    padding-bottom: 20px;
}
.footer-con-2 h3{
    width: 50%;
    height: 50px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.644);
}
.footer-con-2 h3:hover{
    color: white;
}
.footer-con-3 h1{
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 2px ;
    padding-bottom: 20px;
}
.footer-con-3 h3{
    font-size: 14px;
    font-weight: 400;
    height: 50px;
}
.footer-con-3 a{
    color: white;
}
.footer-con-3 i{
    font-size: 20px;
    color: #bd141a;
    padding: 10px;
}
.bottom{
    width: 100%;
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid gray;
   
}
/* footer enddddddddd */



/* alart start   */

.alert{
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.514);
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    display: none;
}
.alert form{
    padding-top: 50px;
    position: relative;
    height: auto;

}
.alert form i{
    position: absolute;
    right: 40px;
    top: 10px;
    font-size: 30px;
    cursor: pointer;
    color: white;
}
.show{
    display: flex;
}

/* alart enddddddddd   */




/* whatsapppp iconnn starttttttttttttttt   */

.w-icon{
    
    position: fixed;
    bottom: 15px;
    right: 15px;
    height: 50px;
    width: 50px;
    z-index: 9999;
}
.w-icon img{
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.w-icon:hover{
    transform: scale(0.9);
}



.shake {
    font-size: 50px;
    color: #ff6347;
    animation: shake 0.8s ;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes shake {
    0% { transform: translate(0); }
    20% { transform: translate(-2px, 2px); }
    40% { transform: translate(2px, -2px); }
    60% { transform: translate(-2px, 2px); }
    80% { transform: translate(2px, -2px); }
    100% { transform: translate(0); }
}





/* whatsapppp iconnn enddddddddddd   */





















/* medaia     queryyyy */
@media (max-width:1162px) {
    .about-contant{
        padding-right: 50px;
        padding-left: 20px;
        width: 60%;
    }
.review-contant{
    padding: 50px 50px;

}
    
     .review{
        padding:  100px 0;
     }
    .services-contant{
        padding: 0 60px;
    }
    .about-img {
        width: 40%;
    }
    .us{
        padding: 0 30px;
    }
    .us-card-con{
        height: auto;
    }
   .services-card-con{
    padding: 20px 20px;

   }
   .contact{
    padding: 30px 40px;

   }
   footer{
    padding: 100px 10px;
    padding-bottom: 30px;
   }
}





@media (max-width:928px) {

   .services-contant h1{
    width:80%;
   }
   .review-contant{
    width: 60%;
   }
   .review-img{
    width: 40%;
   }
   
    .us-1 h1{
        font-size: 35px;
    }
    .us-2 p{
        font-size: 16px;
        padding-left: 20px;
    }
    .cover img{
        height: 35px;
    }
    .cover h1{
        font-size: 16px;
    }
    .cover p{
        font: 13px;
    }
    .about{
        flex-direction: column;
        height: auto;
     
    }
    .about-img{
        width: 100%;
        padding-top: 20px;
    }
    .about-contant{
        width: 100%;
        text-align: center;
        padding: 60px 20px;
    }
    .row{
        flex-direction: column;
        justify-content: center;
         align-items: center;
    }
    .ab-img-2{
        width: 50%;
    }
    .ab-img-1{
        width: 50%;
    }

    .contact{
        flex-direction: column;
        height: auto;
    }
    .contact-con{
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-bottom: 40px;
    }
    .contact-form{
        width: 100%;
        
    }
    footer{
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-con-1{
        width: 100%; 
        text-align: center;
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .footer-con-2{
        width: 50%;
    }
    .footer-con-3{
        width: 50%;
    }
    
}
@media (max-width:800px) {

    .hero-con h1{
      
        width: 80%;
        text-align: center;
     }

    .nav-card .card {
        display: flex;
        gap: 10px;
        align-items: center;

    }
    .adv1{
       
        height: 120px;
       bottom: 10px;
    }
    .adv2{
        
        height: 120px;
         bottom: 10px;
    }
    .nav-card .card h3 {
        font-size: 13px;
        color: black;
    }

    .nav-card .icon i {
        line-height: 80px;
        font-size: 17px;
        color: #ed1c24;
    }
    .hero-con h1{
        font-size: 30px;
        padding-bottom: 15px;
     }
    .cover-card{
      padding-bottom: 20px;
        width: 50%;
    }
    .cover{
        height: auto;
        padding: 20px ;
    }
.people{
    flex-wrap: wrap;
    display: flex;
}
    .people-card{
        width: 50%;
      
       
    }
    .b-r{
        border: none;
    }
    .b-l{
        border: none;
    }
   .review-contant{
    width: 100%;
   }
   .review-img{
    display: none;
}
.review-con{
    height: auto;
}
.review-slide p{
    
    color: rgba(0, 0, 0, 0.87);

}

}

@media (max-width:680px) {
    .contact-con{
        width: 100%;
        text-align: center;
    }
    .contact{
         padding: 100px 10px;
    }
    .services-card{
        height: 250px;
        width: 290px;
       }
       .contact-con h1{
        font-size: 40px;
        padding-bottom: 10px;
        font-weight: 800;
        }   
 .contact-card-con{
    flex-direction: column;
    width: 100%;
    display: flex;
    justify-content: center ;
    align-items: center;
 }
 .contact-card{
    width: 80%;
 }
   .services-contant{
    padding: 0 40px;
   }
   .services-contant h1{
    width: 100%;
   }
   .services-card{
    height: 200px;
    width: 200px;
   }
   .services-card img{
    height: 60px;
   }
    .us{
        height: auto;
        flex-direction: column;
        text-align: center;
    }
    .us-1{
        width: 100%;
        align-items: center;
        gap: 5px;
        padding-top: 20px;
    }
   
    .us-2{
        width: 100%;
        padding-top: 23px;
    }
    .nav-card {
        display: none;
    }

    .nav-btn {
        display: block;
    }
    .about{
        padding-bottom: 50px;
    }
    .cover-card{
        
          width: 100%;
      }
      .cover-card{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
      .cover-card img{
        height: 50px;
      }
      .about-contant h1{
        font-size: 30px;
      }
      
      .about-contant p{
        font-size: 15px;
      }
      .review-slide p{
       
        color: rgba(0, 0, 0, 0.87);
       
    
    }
    .review-contant{
        padding: 50px 10px;
       
    }
    .footer-con-2{
        width: 100%;
        text-align: center;
    }
    .footer-con-3{
        width: 100%;
        text-align: center;
    }
}

@media (max-width:422px) {
    .us-card-con{
        padding: 0 14px;
        gap: 23px;
    }
    .ab-img-2{
        width: 97%;
    }
    .ab-img-1{
        width: 97%;
    }
    .nav-btn {
        font-size: 13px;
        padding:10px 16px;
    }
    .logo{
          display:flex;
          align-items: center;
    }
    nav{
        padding: 10px;
        display: flex;
        justify-content: space-between;

    }
    .logo img{
        height: 50px;
    }
    .logo h1{
        font-size: 26px;
    }
    .hero-con h1{
        font-size: 30px;
        width: 98%;
        padding-bottom: 5px;
       
     }
     .hero-con p{
        font-size: 16px;
     }
     .hero-con .hero-card{
        padding: 18px 45px;
        font-size: 16px;
        margin-bottom: 20px;
    }
    .hero-con{
        justify-content: center;
        padding-top: 100px;
    }
    .hero-con button{
       margin-bottom: 10px;
    }


    .adv1{
       
        height: 90px;
        top: 80px;
    }
    .adv2{
        
        height: 90px;
          top: 80px;
    }
    .services-contant h1{
        font-size: 40px;
    }
    .services-card-con{
        padding: 100px 0px;
    }
    .people-card{
        background: rgba(255, 255, 255, 0.329);
        border-radius: 12px;
       transform: scale(0.9);
       color: white;

    }
    .people-card h1{
        font-size: 35px;
    }
    .people-card p{
        font-size: 14px;
    }

    .review-card{
        padding: 20px 0;
        width: 100%;
    }
    .review-contant{
        padding: 50px 10px;
    }
    .services-card{
        height: 160px;
        width: 140px;
       }
    .services-card img{
        height: 50px;
    }
    .services-card h1{
        font-size: 15px;
    }
   
}
